<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:接口的全限定符-->
<mapper namespace="com.chen.mapper.ArticleMapper">
    <!-- id:方法名  resultType:返回值类型 -->
     <select id="list" resultType="com.chen.pojo.Article">
         select * from article
         <where>
             <if test="categoryId!=null">
                 category_id=#{categoryId}
             </if>

             <if test="state!=null">
                 and state=#{state}
             </if>
                 and create_user=#{userId}
         </where>
     </select>
</mapper>